.tasksHeader {
  width: 100%;
  max-width: 736px;
  margin-top: 3rem;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}
  
.info {
  display: flex;    
  justify-content: space-between;        
  flex:1;
}
  
.tasksCounterContainer {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  flex: 0 0 auto;
}
    
.textCountTasks {
  width: fit-content;    
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  line-height: normal;
}
 
.textCompletedTasks {
  width: fit-content;  
  font-weight: 700;
  color: var(--purple);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0;
}